*{
    background-color: black;
    margin: 3;
    padding: 3;
}
.h1{
    font-family:sans-serif;
    font-size: x-large;
    color:#ffcc00;

}
.h2{
   font-family:Helvetica ;
   color: #e600e6;
   text-align: center;
}
.h3{
    font-family:Arial;
    color: chartreuse;
    float: left;
}
.p{
    font-family:serif;
    font-size: large;
    color: whitesmoke;
    float: right;
}
.h9{
    font-family:Arial;
    color: coral;
    
    

}
